

.App {
  margin: 0;
  padding: 0;
  background-size: cover; /* Cover ensures the image covers the entire viewport */
  background-position: calc(50% + 10px) center; /* Center the background image */
  background-attachment: fixed;
  background-image: url('/public/Indoor-half-pipe.jpg');
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}


body {
  
  /* background-image: url('https://i.ytimg.com/vi/T56863YhZTg/hqdefault.jpg'); */
  background-size: 100vh;
  margin: 0;
  font-family: "Anta", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 #services {
  /* margin-left: 75px;
  margin-right: 75px; */
} 
.react-toast-notifications__container {
  z-index: 1000;
}

.modal {
  margin-top: 40px;
  padding-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.aboutModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.loginModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  
}

.registerModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.contactModal {
  display: flex;
  align-content: flex-end;
  justify-content: space-around;
  margin-top: 40px;
  padding-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}


#login {
 margin-bottom: 0px;
 position: relative;
}

#title{
  margin-top: -7px;
  margin-bottom: 12px;
  }

#headerButtons {
  margin-top: 0px;
  border-radius: 0px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .red-background {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }

/* .menu-buttons {
    margin-right: 10px;
    display: flex;
  }

  .ui.button {
    border-radius: 0px;
  }

  .Button.Group {
    border-radius: 0px;
  } */

  .menu-buttons .ui.button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 12px 20px;
  background-color: rgb(220, 218, 215, );
  color: #333;
  border: none;
  border-radius: 4px;
}

.menu-buttons .ui.button:hover {
  background-color: #ddd;
}

.menu-buttons .ui.button.primary {
  background-color: #007bff;
  color: #fff;
}

.menu-buttons .ui.button.secondary {
  background-color: #6c757d;
  color: #fff;
}

.menu-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 5px;
  position: absolute;
  top: 60px; /* Position the dropdown below the header */
  right: 11px; /* Align the dropdown with the left edge of the page */
  background-color: #ffffff52;
  padding: 10px;
  z-index: 999; 
}

.mobile-menu-icon {
  display: contents;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 16px;
  align-items: center;
  align-content: center;
}

.image-grid img {
  width: 100%;
  height: auto;
}

#loginImage {
  margin-bottom: 57px;
}

.custom-divider::after {
  border-color: white !important; /* Ensure high specificity */
}

#emailForm {
  display: table-caption;
  margin-left: 20%;
  margin-right: 20%;
}

#emailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vh;
  margin-bottom: 63px;
}

form.ui.form div.field div.ui.input input:-webkit-autofill:focus {
  border-color: #000000 !important;
  box-shadow:  #989898 0px 0px 0px 100px inset !important;
}

.shopModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}

#services {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service-item {
  display: grid;
  background: rgba(255, 255, 255, 0.8);
}

.image-container:hover {
  transform: scale(1.05); /* Example: Increase size on hover */
}

.service-item img {
  margin-bottom: 10px;
} 

.ui.segment.landing:hover {
    transform: scale(1.10); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    .ui.ui.segment.landing:hover {
      transform: scale(1.25); 
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  }
}


.ui.segment.landing {
  opacity: 0;
  transform: translateX(-50px); /* Initial position, adjust as needed */
  transition: opacity 1.0s ease, transform 1.0s ease;
}

.ui.segment.landing.visible {
  opacity: 1;
  transform: translateX(0); /* Final position, adjust as needed */
  transform: scale(1.25);
  transform: scale(1.00);
}

.dynamic-image {
  width: 100%; /* Default width */
}

@media screen and (min-width: 768px) {
  .dynamic-image {
    width: 50%; /* Resize the image to 50% of the container width for screens wider than 768px */
  }
}

@media screen and (min-width: 1024px) {
  .dynamic-image {
    width: 30%; /* Resize the image to 30% of the container width for screens wider than 1024px */
  }
}

/* .burtonPipe {
 margin-bottom: 65px;
} */

.burtonPipe {
  opacity: 0;
  transition: opacity 1.0s ease;
  margin-top: 35px;
  margin-bottom: 125px;
}

.burtonPipe.visible {
  opacity: 1;
}


.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333; 
  color: #fff; 
  padding: 20px;
}

.ui.inverted.vertical.footer.segment {
  position: fixed
 
}

.transform-on-load {
  opacity: 0;
  transition: opacity 2.0s ease
}

.transform-on-load.active {
  opacity: 1;
}

.slide-in {
  opacity: 0;
  transform: translateX(-20%);
  transition: opacity 0.5s, transform 1s;
}

.slide-in.active {
  opacity: 1;
  transform: translateX(0);
}


.weather-cards-container {
  height: 280px;
  display: flex;
  overflow: scroll;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.weather-card {
  margin: 10px;
  padding: 20px;
  /* border-radius: 10px; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  
}

.weather-card p {
  margin: 5px 0;
}

.weather-card svg {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.no-footer footer {
  display: none;
}


